<a href="https://colab.research.google.com/github/tejasbhosalepw/Assignments_by_tejas/blob/main/Assignment_Python_For_Loop_2_9_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Level

1.. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

Q2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
l = [2,3,4,5]
sum = 0
for i in l:
  sum = sum + i
print(sum)

14

Q3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
character = input('enter the string character: ')
s1 = ''
for i in character:
  s1 = character[::-1]
print(s1)

enter the string character: tejas
sajet

Q4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
factorial = 1
num = int(input('enter the number which you want factorial: '))
for i in range(1, num+1):
  factorial = factorial * i
print(factorial)

enter the number which you want factorial: 10
3628800

Q5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num = int(input('enter the number which you want multiplication table: '))
for i in range(1,11):
  print(f'{num} X {i} = {num*i}')

enter the number which you want multiplication table: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Q6.Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l = [3,5,7,9,4,6,8]
count_even = 0
count_odd = 0
for i in l:
  if i%2 == 0:
    count_even += 1
  else:
    count_odd += 1
print('odd number in list is', count_odd)
print('even number in list is', count_even)

odd number in list is 4
even number in list is 3

Q7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop

In [ ]:
square = []
for i in range(0,6):
  square.append(i**2)
print(square)

[0, 1, 4, 9, 16, 25]

Q8. Create a program to find the length of a string without using the `len()` function

In [ ]:
string = input('enter the string: ')
count = 0
for i in string:
  count += 1
print('length of given string is',count)

enter the string: tejas
length of given string is 5

Q9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
l = [18,32,56,54]
sum = 0
for i in l:
  sum += i
avg = sum/len(l)
print(avg)

40.0

Q10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
first = 0
second = 1
print(first)
print(second)
for x in range(1,9):
    third = first + second
    print(third)
    first,second=second,third

0
1
1
2
3
5
8
13
21
34

**Intermediate** Level

Q11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
count = {}
l=[23,2,54,23,4]
dup_count = {}
for i in l:
    if i not in count:
        count[i] = 1
    # print('list does not contains duplicates')
    else:
        count[i] += 1
        dup_count[i] = count[i]
print('list contains duplicates')

list contains duplicates

Q12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
start_no = int(input('enter starting number: '))
stop_no = int(input('enter last no.:  '))
for i in range(start_no, stop_no):
  if i>1:
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      print(i)

enter starting number2
enter last no.20
2
3
5
7
11
13
17
19

Q13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
string = input('Enter the string: ')
vowels = 'aeiouAEIOU'
count = 0
for i in string:
  if i in vowels:
    count +=1
  # count += 1
print('vowel in the string is',count)

Enter the string: welcome to pw skill center
vowel in the string is 7

Q14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

Q15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
list = [10, 20, 10, 30, 10, 40, 10, 50]
n = int(input('enter the number you want to remove'))
print ("Original list:")
print (list)
for i in list:
    if i == n:
        list.remove(i)

print (f"list after removing {n} elements:")
print (list)

enter the number you want to remove20
Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing 20 elements:
[10, 10, 30, 10, 40, 10, 50]

Q16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f'{j} X {i} = {i*j}')

1 X 1 = 1
2 X 1 = 2
3 X 1 = 3
4 X 1 = 4
5 X 1 = 5
6 X 1 = 6
7 X 1 = 7
8 X 1 = 8
9 X 1 = 9
10 X 1 = 10
1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

Q17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
fahrenheit_temp = float(input('enter the fahrenheit temperature: '))
celcius_temp = (fahrenheit_temp-32)/1.8
print(celcius_temp)

enter the fahrenheit temperature: 100.1
37.83333333333333

Q18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
list1 = [12,32,13,7,9]
list2 = [11,8,19,21,9]
for i in list1:
  if i in list2:
    print(i)

9

Q19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
n = int(input('enter the number: '))
for i in range(n, 0, -1):
  # for j in range(n-i):
  #   print(' ', end='')

  for j in range(2*i-1):
    print('*', end='')

  print('\r')

enter the number: 3
*****
***
*

Q20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
x = int(input('enter the number: '))
y=int(input('enter the number: '))
for i in range(1, min(x,y)):
  if x%i == 0 and y%i == 0:
    hcf = i
print(f'hcm of given two num {x} and {y} is {hcf}')

enter the number: 8
enter the number: 32
hcm of given two num 8 and 32 is 4

Advanced Level

Q21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
list = [2,3,5,6,8,4]
sum1 = 0
for i in list:
  # if type[i] == int:
    sum1 += sum1+i
print(sum1)

196

Q22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
import math
def primefactors(n):
  while n%2 == 0:
    print(n)
    n = n //2
  for i in range(3, int(math.sqrt(n))+1, 2):
    while n % i == 0:
      print(i)
      n = n // i

  if n > 2:
    print(n)

n = 56
primefactors(n)

56
28
14
7

Q23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
import operator as op
def unique(list1):
  unique_list = []
  for i in list1:
    if op.countOf(unique_list, i) == 0:
      unique_list.append(i)
  for i in unique_list:
    print(i)

list1 = [10, 29,10, 30, 40]
print('the unique values from 1st list is')
unique(list1)

list2 = [1,2,1,1,3,4,5,3]
print('the unique values from 2nd list is')
unique(list2)

the unique values from 1st list is
10
29
30
40
the unique values from 2nd list is
1
2
3
4
5

Q24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension

In [ ]:
num = int(input("Enter a value:"))
# temp = num
rev = 0
s=[]
for i in range(0,num+1):
  temp = i
  dig = i % 10
  rev = rev * 10 + dig
  i = i // 10
if(temp == rev):
  s.append[i]
  # print("This value is a palindrome number!")
else:
  i+=1

Q25. Write a program to flatten a nested list using list comprehension.

In [ ]:
my_list = [[1], [2, 3, 5, 8], [4, 5, 6, 7]]

flat_list = []
for i in my_list:
    for j in i:
        flat_list.append(j)
print(flat_list)

[1, 2, 3, 5, 8, 4, 5, 6, 7]

Q26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension

In [ ]:
l_even = 0
l_odd = 0
num = [1,2,3,4,55,4,32,23,76,12]
for i in num:
  if i%2 == 0:
    l_even +=i
  else:
    l_odd +=i
print('sum of even numeber in list is', l_even)
print('sum of odd number in list is', l_odd)

sum of even numeber in list is 130
sum of odd number in list is 82

Q27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
num = 10
result = []
for i in range(1,num):
  if i%2!=0:
    result.append(i*i)
print(result)

[1, 9, 25, 49, 81]

Q28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
test_keys = ["Rash", "Kil", "tejas"]
test_values = ['dev',6, 5]
print("Original key list is : " + str(test_keys))
print("Original value list is : " + str(test_values))
dict = {}
for key in test_keys:
    for value in test_values:
        dict[key] = value
        test_values.remove(value)
        break
print('conversion of two lists into dict : ', dict)

Original key list is : ['Rash', 'Kil', 'tejas']
Original value list is : ['dev', 6, 5]
conversion of two lists into dict :  {'Rash': 'dev', 'Kil': 6, 'tejas': 5}

Q29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension

In [ ]:
string = 'hello welcome to the pw skill center '
vowels = 'aeiouAEIOU'
vowel = []
for i in string:
  if i in vowels:
    vowel.append(i)
print(vowel)

['e', 'o', 'e', 'o', 'e', 'o', 'e', 'i', 'e', 'e']

Q30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
list = ['pw', 23, 'skill', 'center', 24]
for i in list:
  if i == isalpha():
    i.remove(list)
print(list)

NameError: ignored

Challenge Level

Q31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:
def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i)
            for j in range(i*i, n+1, i):
                prime_list.append(j)

print(prime_eratosthenes(100));

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

Q32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
def pythagoreanTriplets(limits) :
	c, m = 0, 2
	while c < limits :
		for n in range(1, m) :
			a = m * m - n * n
			b = 2 * m * n
			c = m * m + n * n

			if c > limits :
				break
			print(a, b, c)
		m = m + 1
if __name__ == '__main__' :
	limit = 20
	pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20

Q33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
import itertools
from itertools import permutations
list_1 = ['a','b','c','d', 'e']
list_2 = [1,4,9]
unique_combinations = []
permut = itertools.permutations(list_1, len(list_2))
for i in permut:
  zipped = zip(i, list_2)
  unique_combinations.append(list(zipped))
print(unique_combinations)

[[('a', 1), ('b', 4), ('c', 9)], [('a', 1), ('b', 4), ('d', 9)], [('a', 1), ('b', 4), ('e', 9)], [('a', 1), ('c', 4), ('b', 9)], [('a', 1), ('c', 4), ('d', 9)], [('a', 1), ('c', 4), ('e', 9)], [('a', 1), ('d', 4), ('b', 9)], [('a', 1), ('d', 4), ('c', 9)], [('a', 1), ('d', 4), ('e', 9)], [('a', 1), ('e', 4), ('b', 9)], [('a', 1), ('e', 4), ('c', 9)], [('a', 1), ('e', 4), ('d', 9)], [('b', 1), ('a', 4), ('c', 9)], [('b', 1), ('a', 4), ('d', 9)], [('b', 1), ('a', 4), ('e', 9)], [('b', 1), ('c', 4), ('a', 9)], [('b', 1), ('c', 4), ('d', 9)], [('b', 1), ('c', 4), ('e', 9)], [('b', 1), ('d', 4), ('a', 9)], [('b', 1), ('d', 4), ('c', 9)], [('b', 1), ('d', 4), ('e', 9)], [('b', 1), ('e', 4), ('a', 9)], [('b', 1), ('e', 4), ('c', 9)], [('b', 1), ('e', 4), ('d', 9)], [('c', 1), ('a', 4), ('b', 9)], [('c', 1), ('a', 4), ('d', 9)], [('c', 1), ('a', 4), ('e', 9)], [('c', 1), ('b', 4), ('a', 9)], [('c', 1), ('b', 4), ('d', 9)], [('c', 1), ('b', 4), ('e', 9)], [('c', 1), ('d', 4), ('a', 9)], [('c', 1), ('d', 4), ('b', 9)], [('c', 1), ('d', 4), ('e', 9)], [('c', 1), ('e', 4), ('a', 9)], [('c', 1), ('e', 4), ('b', 9)], [('c', 1), ('e', 4), ('d', 9)], [('d', 1), ('a', 4), ('b', 9)], [('d', 1), ('a', 4), ('c', 9)], [('d', 1), ('a', 4), ('e', 9)], [('d', 1), ('b', 4), ('a', 9)], [('d', 1), ('b', 4), ('c', 9)], [('d', 1), ('b', 4), ('e', 9)], [('d', 1), ('c', 4), ('a', 9)], [('d', 1), ('c', 4), ('b', 9)], [('d', 1), ('c', 4), ('e', 9)], [('d', 1), ('e', 4), ('a', 9)], [('d', 1), ('e', 4), ('b', 9)], [('d', 1), ('e', 4), ('c', 9)], [('e', 1), ('a', 4), ('b', 9)], [('e', 1), ('a', 4), ('c', 9)], [('e', 1), ('a', 4), ('d', 9)], [('e', 1), ('b', 4), ('a', 9)], [('e', 1), ('b', 4), ('c', 9)], [('e', 1), ('b', 4), ('d', 9)], [('e', 1), ('c', 4), ('a', 9)], [('e', 1), ('c', 4), ('b', 9)], [('e', 1), ('c', 4), ('d', 9)], [('e', 1), ('d', 4), ('a', 9)], [('e', 1), ('d', 4), ('b', 9)], [('e', 1), ('d', 4), ('c', 9)]]

Q34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [ ]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
get_sum = sum(n_num)
mean = get_sum / n
print("Mean / Average is: " + str(mean))

n_num.sort()
if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is: " + str(median))

from collections import Counter
data = Counter(n_num)
get_mode = dict(data)
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]

if len(mode) == n:
    get_mode = "No mode found"
else:
    get_mode = "Mode is / are: " + ', '.join(map(str, mode))

print(get_mode)

Mean / Average is: 3.0
Median is: 3
No mode found

Q35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

Q36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [ ]:
factorial = 1
for i in range(1,6):
  factorial = factorial * i
print(factorial)

120

Q37. Write a program that finds the longest word in a sentence using list comprehension

In [ ]:
def largestWord(s):
	s = sorted(s, key = len)
	print(s[-1])
if __name__ == "__main__":
	s = "be confident and be yourself"
	l = list(s.split(" "))
	largestWord(l)

confident

Q38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [ ]:
test_list = ["gfg", "best", "for", "geeks"]
print("The original list is : " + str(test_list))
res = ""
max_len = 0
for i in test_list:
	vow_len = len([el for el in i if el in ['a', 'e', 'o', 'u', 'i']])

	if vow_len > max_len:
		max_len = vow_len
		res = i
print("Maximum vowels word : " + str(res))

The original list is : ['gfg', 'best', 'for', 'geeks']
Maximum vowels word : geeks

Q39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [ ]:
sum = 0
for i in range(1,1001):
  sum += i
print(sum)

500500

Q40. Write a program that generates a list of prime palindromic numbers using list comprehension

In [ ]:
# using While Loop
number = int(input("Please Enter any Value: "))

reverse = 0
temp = number

while(temp > 0):
    Reminder = temp % 10
    reverse = (reverse * 10) + Reminder
    temp = temp //10

print("Reverse of it is = %d" %reverse)

if(number == reverse):
    print("%d is a Palindrome" %number)
else:
    print("%d is Not" %number)

Please Enter any Value: 32
Reverse of it is = 23
32 is Not