<a href="https://colab.research.google.com/github/tejasbhosale23/Assignments_by_tejas/blob/main/final_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install notebook-as-pdf

Requirement already satisfied: notebook-as-pdf in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from notebook-as-pdf) (6.5.4)
Requirement already satisfied: pyppeteer in /usr/local/lib/python3.10/dist-packages (from notebook-as-pdf) (2.0.0)
Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.10/dist-packages (from notebook-as-pdf) (3.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (4.9.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (4.12.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (6.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (0.4)
Requirement already satisfied: jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (3.1.4)
Requirement already satisfied: jupyter-core>=4.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (5.7.2)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (0.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (2.1.5)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (0.10.0)
Requirement already satisfied: nbformat>=5.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (5.10.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (24.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (1.5.1)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (2.16.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (1.3.0)
Requirement already satisfied: traitlets>=5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook-as-pdf) (5.7.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (1.4.4)
Requirement already satisfied: certifi>=2023 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (2024.7.4)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (8.4.0)
Requirement already satisfied: pyee<12.0.0,>=11.0.0 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (11.1.0)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (4.66.5)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (1.26.19)
Requirement already satisfied: websockets<11.0,>=10.0 in /usr/local/lib/python3.10/dist-packages (from pyppeteer->notebook-as-pdf) (10.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.4->pyppeteer->notebook-as-pdf) (3.20.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.7->nbconvert->notebook-as-pdf) (4.2.2)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from nbclient>=0.5.0->nbconvert->notebook-as-pdf) (6.1.12)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->notebook-as-pdf) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.1->nbconvert->notebook-as-pdf) (4.23.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from pyee<12.0.0,>=11.0.0->pyppeteer->notebook-as-pdf) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->notebook-as-pdf) (2.6)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->notebook-as-pdf) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->notebook-as-pdf) (0.5.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert->notebook-as-pdf) (0.20.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (24.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (2.8.2)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert->notebook-as-pdf) (6.3.3)

Q1.3  name = ["Mohan", "dash", "karam", "chandra","gandhi","Bapu"]
do the following operations in this list;

In [ ]:
name = ['Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'bapu']

a. Add an element 'freedom_fighter' in this  list at the oth index.

In [ ]:
name[0] = 'freedom_fighter'

In [ ]:
name

['freedom_fighter', 'dash', 'karam', 'chandra', 'gandhi', 'bapu']

b. find the output of the following and explain how ?

name = [“freedomFighter”,"Bapuji","MOhan" "dash", "karam",
"chandra","gandhi"]

length1=len((name[-len(name)+1:-1:2]))

length2=len((name[-len(name)+1:-1]))

print(length1+length2)

In [ ]:
name = ['freedomFighter', 'Bapuji', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi']
length1 = len((name[-len(name)+1: -1:2]))

In [ ]:
length1

3

In [ ]:
length2 = len((name[-len(name)+1:-1]))

In [ ]:
length2

5

In [ ]:
print(length1+length2)

8

c) add two more elements in the name ['netaji', 'Bose'] at the end of the list.

In [ ]:
name_one = ['Netaji', 'Bose']
for i in name_one:
  name.append(i)

name

['freedomFighter',
 'Bapuji',
 'Mohan',
 'dash',
 'karam',
 'chandra',
 'gandhi',
 'Netaji',
 'Bose']

d. what will be the value of temp:

name = ["Bapuji", "dash", "karam", "chandra","gandi","Mohan"]

temp=name[-1]

name[-1]=name[0]

name[0]=temp

print(name)

Ans . value of temp is 'Mohan'.

Question 1.4. Find the output of the following.

In [ ]:
animal = ['Human', 'cat', 'mat', 'rat', 'Human', 'Lion']
print(animal.count('Human'))
print(animal.index('rat'))
print(len(animal))

2
3
6

Question 1.5 tuple1=(10,20, 'Apple', 3.4, 'a', ['master', 'ji'], ('sita', 'geeta', 22), [{'roll_no':1}, {'name':'Navneet'})

In [ ]:
tuple1 = (10,20,"Apple",3.4,'a',["master","ji"],("sita","geeta",22),[{"roll_no":1},
{"name":"Navneet"}])

a) print(len(tuple))

In [ ]:
len(tuple1)

8

b) print(tuple[-1][-1]['name'])

In [ ]:
tuple1[-1][-1]['name']

'Navneet'

c) fetch the value of roll_no from this tuple.

In [ ]:
last_element = tuple1[-1]
first_dict = last_element[0]

# Fetching the value associated with 'roll_no'
roll_no_value = first_dict["roll_no"]

print(roll_no_value)

1

d) print(tuple1[-3][1])

In [ ]:
print(tuple1[-3][1])

ji

e) fetch the element '22' from this tuple.

In [ ]:
tuple1[6][2]

22

1.6 Write a program to display the appropriate message as per the color of signal(RED-Stop/ yellow-Stay/Green-GO) at the road crossing.

In [ ]:
signal_color = input('Enter signal color (Red, Yellow, Green): ')

if signal_color == 'red':
  print('Stop')
elif signal_color == 'yellow':
  print('Stay')
elif signal_color == 'green':
  print('Go')
else:
  print('Invalid color. please enter red, yellow or green')

Enter signal color (Red, Yellow, Green): red
Stop

1.7 Write a program to create a simple calculator performing only four basic operations(+,-,/,*).

In [ ]:
def add(x,y):
  return x + y

def substract(x,y):
  return x - y

def multiply(x,y):
  return x * y

def divide(x,y):
  return x / y

# print('Simple Calculator')
# print('Select operation')
# print('1. Add(+)')
# print('2. substract(-)')
# print('3. multiply(*)')
# print('4. Divide(/)')

x = float(input('enter first amount: '))
y = float(input('enter second amount: '))

print(add(x,y))
print(substract(x,y))
print(multiply(x,y))
print(divide(x,y))

enter first amount: 43
enter second amount: 1
44.0
42.0
43.0
43.0

1.8 Write a program to find the larger of the three pre-specified numbers using ternary operators.

In [ ]:
a = 10
b =24
c =55

largest = a if (a > b and a >c) else (b if b>c else c)
print(largest)

55

1.9 Write a program to find the factors of a whole number using a while loop.

In [ ]:
number = int(input("Enter a whole number: "))

divisor = 1

print(f"Factors of {number} are:")
while divisor <= number:
    if number % divisor == 0:
        print(divisor)
    divisor += 1

Enter a whole number: 80
Factors of 80 are:
1
2
4
5
8
10
16
20
40
80

1.10. Write a program to find the sum of all the positive numbers entered by the user. As soon as the user
enters a negative number, stop taking in any further input from the user and display the sum .

In [ ]:
sum = 0
for i in range(1000):
  num = int(input('enter a positive number'))

  if num < 0:
    break

  sum += num

print(sum)

enter a positive number121
enter a positive number323
enter a positive number323
enter a positive number43
enter a positive number-9
810

1.11 Write the program to find prime numbers between 2 to 100 using nested for loops.

In [ ]:
for num in range(2, 100):
  is_prime = True
  for i in range(2, num):
    if num % i == 0:
      is_prime = False
      break

  if is_prime:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

1.12 Write the programs for the following:

1. Accept the marks of the student in five major subjects and disTlay the same.
2. Calculate the sum of the marks of all subjects.Divide the total marks by number of subjects (i.e. 5), calculate
percentage = total marks/5 and display the percentage.
3. Find the grade of the student as per the following criteria . Hint: Use Match & case for this.

In [ ]:
print('enter your score: ')
sub1 = int(input('enter first subjects marks: '))
sub2 = int(input('enter second subjects marks: '))
sub3 = int(input('enter third subjects marks: '))
sub4 = int(input('enter fourth subjects marks: '))
sub5 = int(input('enter fifth subjects marks: '))

percentage = ((sub1+sub2+sub3+sub4+sub5)/500) * 100

if percentage > 85:
  print('Your grade is A')
elif percentage < 85 and percentage >= 75:
  print(f'Your grade is B')
elif percentage >= 50 and percentage <75:
  print(f'Your grade is C')
elif percentage > 30 and percentage <= 50:
  print(f'Your grade is D')
else:
  print('you need to reappear for exam')

enter your score:
enter first subjects marks: 54
enter second subjects marks: 65
enter third subjects marks: 86
enter fourth subjects marks: 43
enter fifth subjects marks: 66
Your grade is C

In [ ]:
66

1.13 Write a program for VIBGYOR Spectrum based on their wavelength using.

In [ ]:
print('Enter the wavelength in range 400-720')
wavelength = int(input('enter the wavelength'))

if wavelength >=400 and wavelength < 440:
  print('Spectrum color is Violet')

elif wavelength >=440 and wavelength < 460:
  print('Spectrum color is Indigo')

elif wavelength >=460 and wavelength < 500:
  print('Spectrum color is Blue')

elif wavelength >=500 and wavelength < 570:
  print('Spectrum color is Green')

elif wavelength >=570 and wavelength < 590:
  print('Spectrum color is Yellow')

elif wavelength >=590 and wavelength < 620:
  print('Spectrum color is Orange')

elif wavelength >=620 and wavelength <= 720:
  print('Spectrum color is Violet')

else:
  print('plz enter wavelength in range of 400-720')

Enter the wavelength in range 400-720
enter the wavelength645
Spectrum color is Violet

1.14.Consider the gravitational interactions between the Earth, Moon, and Sun in our solar system.

Given:

mass_earth = 5.972e24 # Mass of Earth in kilograms

mass_moon = 7.34767309e22 # Mass of Moon in kilograms

mass_sun = 1.989e30 # Mass of Sun in kilograms

distan0e_earth_sun = 1.496e11 # Average distan0e between Earth and Sun in meters

distan0e_moon_earth = 3.844e8 # Average distan0e between Moon and Earth in meters

Calculate the gravitational for0e between the Earth and the Sun.

Cal0ulate the gravitational for0e between the Moon and the Earth.

Compare the 0al0ulated for0es to determine whi0h gravitational for0e is stronger.

Explain whi0h celestial body (Earth or Moon is more attracted to the other based on the 0omparison.

In [ ]:
# Given values
G = 6.67430e-11  # Gravitational constant in m^3 kg^-1 s^-2
mass_earth = 5.972e24  # Mass of Earth in kilograms
mass_moon = 7.34767309e22  # Mass of Moon in kilograms
mass_sun = 1.989e30  # Mass of Sun in kilograms
distance_earth_sun = 1.496e11  # Average distance between Earth and Sun in meters
distance_moon_earth = 3.844e8  # Average distance between Moon and Earth in meters

# Calculate the gravitational force between the Earth and the Sun
force_earth_sun = G * mass_earth * mass_sun / (distance_earth_sun ** 2)

# Calculate the gravitational force between the Moon and the Earth
force_moon_earth = G * mass_moon * mass_earth / (distance_moon_earth ** 2)

# Print the results
print(f"Gravitational force between Earth and Sun: {force_earth_sun:.2e} N")
print(f"Gravitational force between Moon and Earth: {force_moon_earth:.2e} N")

# Compare the forces
if force_earth_sun > force_moon_earth:
    print("The gravitational force between the Earth and the Sun is stronger.")
else:
    print("The gravitational force between the Moon and the Earth is stronger.")

Gravitational force between Earth and Sun: 3.54e+22 N
Gravitational force between Moon and Earth: 1.98e+20 N
The gravitational force between the Earth and the Sun is stronger.

Q2. Design and implement a Python program for managing student information using object-oriented
principles. Create a class called `Student` with encapsulated attributes for name, age, and roll number.
Implement getter and setter methods for these attributes. Additionally, provide methods to display student
information and update student details.

Tasks

i. Define the `Student` class with encapsulated attributes

ii. Implement getter and setter methods for the attributes

iii.  Write methods to display student information and update details

iv. Create instances of the `Student` class and test the implemented functionality

In [ ]:
class student:
  def __init__(self, name, age, roll_number):
    self.__name = name
    self.__age = age
    self.__roll_number = roll_number

    # getter method
  def get_name(self):
    return self.__name
  def get_age(self):
    return self.__age
  def get_roll_number(self):
    return self.__roll_number

    # setter method
  def set_name(self, name):
    self.__name = name
  def set_age(self, age):
    self.__age = age
  def set_roll_number(self, roll_number):
    self.__roll_number = roll_number

  # method to display student info.
  def display_info(self):
    print(f'Name:{self.get_name()}')
    print(f'age:{self.get_age()}')
    print(f'roll_number: {self.get_roll_number()}')


student1 = student('Tejas', 20, 's123')
student1.display_info()

Name:Tejas
age:20
roll_number: s123

Q3. Develop a Python program for managing library resources efficiently. Design a class named `LibraryBook`
with attributes lie boo name, author, and availability status. Implement methods for borrowing and
returning boos while ensuring proper encapsulation of attributes.

Tasks

i. Create the `LibraryBook` class with encapsulated attributes.

ii. Implement methods for borrowing and returning books.

iii. Ensure proper encapsulation to protect book details.

iv. Test the borrowing and returning functionality with sample data.

In [ ]:
class LibraryBook:
  def __init__(self, book_name, author):
    self.__book_name = book_name
    self.__author = author
    self.__is_available = True

  def borrow_book(self):
    if self.__is_available:
      print(f"The book '{self.__book_name}' by {self.__author} has been borrowed")
      self.__is_available = False
    else:
      print(f"sry, the book '{self.__book_name}' by {self.__author} has not available")

  def return_book(self):
    if not self.__is_available:
      self.__is_available = True
      print(f"The book '{self.__book_name}' by {self.__author} has been returned")
    else:
      print(f'The book {self.__book_name} by {self.__author} was not been borrowed.')

  def diplay_info(self):
    status = 'Available' if self.__is_available else 'Not available'
    print(f'Book name: {self.__book_name}')
    print(f'Author: {self.__author}')
    print(f'Availability status: {status}')


book1 = LibraryBook('Playing it my way', 'Sachin')
book2 = LibraryBook('1985', 'jogn')

book1.diplay_info()
book1.borrow_book()

Book name: Playing it my way
Author: Sachin
Availability status: Available
The book 'Playing it my way' by Sachin has been borrowed

In [ ]:
book1.borrow_book()

The book 'Playing it my way' by Sachin has been borrowed

In [ ]:
book1.return_book()

The book 'Playing it my way' by Sachin has been returned

In [ ]:
book1.diplay_info()

Book name: Playing it my way
Author: Sachin
Availability status: Not available

Q4. Create a simple bankng system using object-oriented concepts in Python. Design classes representing
different types of bank accounts such as savings and checking. Implement methods for deposit, withdraw,
and balance inquiry. Utilize inheritance to manage different account types efficiently.

Tasks

i. Define base class(es) for bank accounts with common attributes and methods

ii. Implement subclasses for specific account types (e.g., SavingsAccount, CheckingAccount)

iii. Provide methods for deposit, withdraw, and balance inquiry in each subclass

iv. Test the banking system by creating instances of different account types and performing transactions.

In [ ]:
class BankAccount:
  def __init__(self, account_number, account_holder, balance=0):
    self.account_number = account_number
    self.account_holder = account_holder
    self.balance = balance

  def deposit(self, amount):
    if amount > 0:
      self.balance += amount
      print(f'deposited {amount} into account {self.account_number}')
    else:
      print('Deposit amount must be positive.')

  def withdraw(self, amount):
    if amount > 0:
      if amount < self.balance:
        self.balance -= amount
        print(f'withdraw {amount} from account {self.account_number} and new remaining balance is {self.balance}')
      else:
        print('Insufficient funds for withdrawal')
    else:
      print('Withdrawn amount must be postive.')


  def get_balance(self):
    print(f'Account {self.account_number} balance: ${self.balance}')
    return self.balance

  def display_info(self):
    print(f'Account number: {self.account_number}')
    print(f'Account Holder: {self.account_holder}')
    print(f'balance: {self.balance}')


class SavingAccount(BankAccount):
  def __init__(self, account_number, account_holder, balance=0, interest_rate=0.2):
    super().__init__(account_number, account_holder, balance)
    self.interest_rate = interest_rate

  def apply_interest(self):
    interest = self.balance * self.interest_rate
    self.balance += interest
    print(f'Applied interest of {interest} from checking account {self.account_number}. New balance: ${self.balance}')

class CheckingAccount(BankAccount):
  def __init__(self, account_number, account_holder, balance=0, overdraft_limit=500):
    super().__init__(account_number, account_holder, balance)
    self.overdraft_limit = overdraft_limit

  def wihdrawn(self, amount):
    if amount > 0:
      if amount <= self.balance + self.overdraft_limit:
        self.balance -= amount
        print(f'Withdraw {amount} from checking account {self.account_number}. new balance {self.balance}')

      else:
        print('Withdrawal amount must be positice')
    else:
      print('Withdrawal amount must be positive.')

savings = SavingAccount('Sa123', 'Tejas', 1000)
savings.display_info()
savings.deposit(500)
savings.display_info()
savings.withdraw(600)
savings.display_info()

Account number: Sa123
Account Holder: Tejas
balance: 1000
deposited 500 into account Sa123
Account number: Sa123
Account Holder: Tejas
balance: 1500
withdraw 600 from account Sa123 and new remaining balance is 900
Account number: Sa123
Account Holder: Tejas
balance: 900

Q5. Write a Python program that models different animals and their sounds. Design a base class called
`Animal` with a method `make_sound()`. Create subclasses like `Dog` and `Cat` that override the
`make_sound()` method to produce appropriate sounds.

Tasks

i. Define the `Animal` class with a method `make_sound()`

ii. Create subclasses `Dog` and `Cat` that override the `make_sound()` method

iii. Implement the sound generation logic for each subclass

iv. Test the program by creating instances of `Dog` and `Cat` and calling the `make_sound()` method.

In [ ]:
class Animal:
  def make_sound(self):
    pass

class Dog(Animal):
  def make_sound(self):
    return 'Woof! Woof!'

class cat(Animal):
  def make_sound(self):
    return 'Meow! Meow!'

dog = Dog()
cat = cat()

print('Dog Sound', dog.make_sound())
print('Cat Sound', cat.make_sound())

Dog Sound Woof! Woof!
Cat Sound Meow! Meow!

Q6. Write a code for Restaurant Management System Using OOPS.

i. Create a MenuItem class that has attributes such as name, description, price, and category.

ii. Implement methods to add a new menu item, update menu item information, and remove a menu item
from the menu.

iii. Use en'apsulation to hide the menu item's unique identification number.

iv. Inherit from the MenuItem class to create a FoodItem class and a BeverageItem class, each with their own
specifiy attributes and methods.

In [ ]:
class MenuItem:
    __id_counter = 0  # Class variable to generate unique IDs for each menu item

    def __init__(self, name, description, price, category):
        MenuItem.__id_counter += 1
        self.__item_id = MenuItem.__id_counter  # Encapsulated unique ID
        self.name = name
        self.description = description
        self.price = price
        self.category = category

    def get_item_id(self):
        return self.__item_id

    def update_item(self, name=None, description=None, price=None, category=None):
        if name:
            self.name = name
        if description:
            self.description = description
        if price:
            self.price = price
        if category:
            self.category = category
        print(f"Item {self.__item_id} updated successfully.")

    def display_item_info(self):
        print(f"Item ID: {self.__item_id}")
        print(f"Name: {self.name}")
        print(f"Description: {self.description}")
        print(f"Price: ${self.price:.2f}")
        print(f"Category: {self.category}")


class FoodItem(MenuItem):
    def __init__(self, name, description, price, cuisine_type):
        super().__init__(name, description, price, category="Food")
        self.cuisine_type = cuisine_type

    def display_item_info(self):
        super().display_item_info()
        print(f"Cuisine Type: {self.cuisine_type}")


class BeverageItem(MenuItem):
    def __init__(self, name, description, price, is_alcoholic):
        super().__init__(name, description, price, category="Beverage")
        self.is_alcoholic = is_alcoholic

    def display_item_info(self):
        super().display_item_info()
        alcohol_status = "Alcoholic" if self.is_alcoholic else "Non-Alcoholic"
        print(f"Alcoholic: {alcohol_status}")


pizza = FoodItem("Pizza", "Cheese Pizza with extra toppings", 9.99, "Italian")
coffee = BeverageItem("Coffee", "Hot brewed coffee", 2.99, is_alcoholic=False)
wine = BeverageItem("Wine", "Red wine", 12.99, is_alcoholic=True)

In [ ]:
pizza.display_item_info()

Item ID: 1
Name: Pizza
Description: Cheese Pizza with extra toppings
Price: $9.99
Category: Food
Cuisine Type: Italian

Q7. Write a code for Hotel Management System using OOps:

i) Create a Room class that has attributes such as room number, room type, rate, and availability (private).

ii) Implement methods to book a room, check in a guest, and check out a guest
& Use en'apsulation to hide the room's unique identification number

iii) Inherit from the Room class to create a SuiteRoom class and a StandardRoom class, each with their own
specific attributes and methods.

In [ ]:
class Room:
  __id_counter = 0

  def __init__(self, room_number, room_type, rate):
    Room.__id_counter += 1
    self.__room_id = Room.__id_counter
    # Encapsulated unique ID.
    self.room_number = room_number
    self.room_type = room_type
    self.rate = rate
    self.__availability = True
    # Private attribute for room availability.

  def get_room_id(self):
    return self.__room_id

  def is_available(self):
    return self.__availability

  def book_room(self):
    if self.__availability:
      print(f'Room {self.room_number} has been successfully booked.')
      self.__availability = False
    else:
      print(f'room {self.room_number} is already booked.')

  def check_in(self):
    if not self.__availability:
      print(f'Guest checked into room {self.room_number}.')
    else:
      print(f'Room {self.room_number} is not yet booked.')

  def check_out(self):
    if not self.__availability:
      self.__availability = True
      print(f'Guest checked out of room {self.room_number}. Room is now available')
    else:
      print(f'Room {self.room_number} is already available.')


  def display_room_info(self):
        availability_status = "Available" if self.__availability else "Booked"
        print(f"Room ID: {self.__room_id}")
        print(f"Room Number: {self.room_number}")
        print(f"Room Type: {self.room_type}")
        print(f"Rate: ${self.rate:.2f}")
        print(f"Availability: {availability_status}")


class SuiteRoom(Room):
  def __init__(self, room_number, rate, suite_type, amenities):
    super().__init__(room_number, room_type='Suite', rate=rate)
    self.suite_type = suite_type
    self.amenities = amenities

  def display_room_info(self):
    super().display_room_info()
    print(f'Suite Type: {self.suite_type}')
    print(f"Amenities: {','.join(self.amenities)}")


class StandardRoom(Room):
    def __init__(self, room_number, rate, bed_type):
        super().__init__(room_number, room_type="Standard", rate=rate)
        self.bed_type = bed_type

    def display_room_info(self):
        super().display_room_info()
        print(f"Bed Type: {self.bed_type}")


suite1 = SuiteRoom(room_number=101, rate=250.00, suite_type="Executive", amenities=["Wi-Fi", "Jacuzzi", "Ocean View"])

print(suite1.display_room_info())

print(suite1.check_in())
print(suite1.check_out)

Room ID: 1
Room Number: 101
Room Type: Suite
Rate: $250.00
Availability: Available
Suite Type: Executive
Amenities: Wi-Fi,Jacuzzi,Ocean View
None
Room 101 is not yet booked.
None
<bound method Room.check_out of <__main__.SuiteRoom object at 0x7ca382333730>>

Q8. Write a code for Fitness Club Management System using OOPS.
I. Create a Member class that has attributes such as name, age, membership type, and membership status
(private)

II. Implement methods to register a new member, renew a membership, and cancel a membership

iii. Use en'apsulation to hide the member's unique identification number

iv. Inherit from the Member class to create a FamilyMember class and an IndividualMember class, each with
their own specific attributes and methods

In [ ]:
class Member:
    __id_counter = 0  # Class variable to generate unique IDs for each member

    def __init__(self, name, age, membership_type):
        Member.__id_counter += 1
        self.__member_id = Member.__id_counter  # Encapsulated unique ID
        self.name = name
        self.age = age
        self.membership_type = membership_type
        self.__membership_status = False  # Private attribute for membership status

    def get_member_id(self):
        return self.__member_id

    def register_member(self):
        self.__membership_status = True
        print(f"Member {self.name} has been successfully registered.")

    def renew_membership(self):
        if self.__membership_status:
            print(f"Membership for {self.name} has been renewed.")
        else:
            print(f"Membership for {self.name} is not active. Please register first.")

    def cancel_membership(self):
        if self.__membership_status:
            self.__membership_status = False
            print(f"Membership for {self.name} has been canceled.")
        else:
            print(f"Membership for {self.name} is not active.")

    def display_member_info(self):
        membership_status = "Active" if self.__membership_status else "Inactive"
        print(f"Member ID: {self.__member_id}")
        print(f"Name: {self.name}")
        print(f"Age: {self.age}")
        print(f"Membership Type: {self.membership_type}")
        print(f"Membership Status: {membership_status}")


class FamilyMember(Member):
    def __init__(self, name, age, membership_type, family_name, number_of_members):
        super().__init__(name, age, membership_type)
        self.family_name = family_name
        self.number_of_members = number_of_members

    def display_member_info(self):
        super().display_member_info()
        print(f"Family Name: {self.family_name}")
        print(f"Number of Family Members: {self.number_of_members}")


class IndividualMember(Member):
    def __init__(self, name, age, membership_type, personal_trainer):
        super().__init__(name, age, membership_type)
        self.personal_trainer = personal_trainer

    def display_member_info(self):
        super().display_member_info()
        print(f"Personal Trainer: {self.personal_trainer}")


# Testing the Fitness Club Management System
# Creating instances of FamilyMember and IndividualMember
family_member = FamilyMember(name="John Doe", age=40, membership_type="Family", family_name="Doe Family", number_of_members=4)
individual_member = IndividualMember(name="Jane Smith", age=28, membership_type="Individual", personal_trainer="Yes")

# Registering members
family_member.register_member()
individual_member.register_member()

# Displaying member information
print("\nDisplaying Member Information:")
family_member.display_member_info()
print()
individual_member.display_member_info()

# Renewing memberships
print("\nRenewing Memberships:")
family_member.renew_membership()
individual_member.renew_membership()

# Canceling memberships
print("\nCanceling Memberships:")
family_member.cancel_membership()
individual_member.cancel_membership()

Member John Doe has been successfully registered.
Member Jane Smith has been successfully registered.

Displaying Member Information:
Member ID: 1
Name: John Doe
Age: 40
Membership Type: Family
Membership Status: Active
Family Name: Doe Family
Number of Family Members: 4

Member ID: 2
Name: Jane Smith
Age: 28
Membership Type: Individual
Membership Status: Active
Personal Trainer: Yes

Renewing Memberships:
Membership for John Doe has been renewed.
Membership for Jane Smith has been renewed.

Canceling Memberships:
Membership for John Doe has been canceled.
Membership for Jane Smith has been canceled.

Q9. Write a code for Event Management System using OOps.

i. Create an Event class that has attributes such as name, date, time, location, and list of attendees (private).

ii. Implement methods to create a new event, add or remove attendees, and get the total number of
attendees.
iii. Use encapsulation to hide the event's unique identification number.

iv. Inherit from the Event 'lass to 'reate a PrivateEvent class and a Publi'Event class, each with their own
specific attributes and methods.

In [ ]:
class Event:
    __id_counter = 0  # Class variable to generate unique IDs for each member

    def __init__(self, name, date, location):
        Event.__id_counter += 1
        self.event_id = Event.__id_counter
        self.name = name
        self.date = date
        self.location = location
        self.__attendess = []

    def add_attendee(self, attendee):
      self.__attendess.append(attendee)
      print(f'{attendee} added to {self.name}')

    def remove_attendee(self, attendee):
      if attendee in self.__attendess:
        self.__attendess.remove(attendee)
        print(f'{attendee} removed from {self.name}')
      else:
        print(f'{attendee} not found in the attendees list')

    def get_total_attendee(self):
      return len(self.__attendess)


    def get_event_details(self):
      return {
          'event_id': self.event_id,
          'name': self.name,
          'date': self.date,
          'location': self.location,
          'total_attendess': self.get_total_attendee()
      }


class PrivateEvent(Event):
  def __init__(self, name, date, location, host):
    super().__init__(name, date, location)
    self.host = host

  def invitations(self):
    print(f'Invatations send by {self.host} for {self.name}')

class publicEvent(Event):
  def __init__(self, name, date, location , entry_fee):
    super().__init__(name, date, location)
    self.entry_fee = entry_fee

  def announce_event(self):
    print(f'{self.name} announced! Entry fee: {self.entry_fee}')


private_event = PrivateEvent("Board Meeting", "2024-09-15", "Conference Room", "CEO")
private_event.add_attendee("Tejas")
private_event.add_attendee("Smith")
private_event.invitations()
print(private_event.get_event_details())

Tejas added to Board Meeting
Smith added to Board Meeting
Invatations send by CEO for Board Meeting
{'event_id': 1, 'name': 'Board Meeting', 'date': '2024-09-15', 'location': 'Conference Room', 'total_attendess': 2}

Q10. Write a code for Airline Reservation System using OOps.

i) Create a Flight class that has attributes such as flight number, departure and arrival airports, departure and
arrival times, and available seats (private)

ii) Implement methods to book a seat, cancel a reservation, and get the remaining available seats

iii) Use encapsulation to hide the flight's unique identification number

iv) Inherit from the Flight class to create a Domesti'Flight class and an InternationalFlight class, each with their
own specific attributes and methods.

In [ ]:
class Flight:
  __id_counter = 0
  # Class variable to generate unique IDs for each member
  def __init__(self, flight_num, departure_airport, arrival_airport, departure_time, arrival_time, available_seats):
    Flight.__id_counter += 1
    # increment the counter for each new instance
    self.__flight_id = Flight.__id_counter
    self.flight_num = flight_num
    self.departure_airport = departure_airport
    self.arrival_airport = arrival_airport
    self.departure_time = departure_time
    self.arrival_time = arrival_time
    self.__available_seats = available_seats

  def book_seat(self):
    if self.__available_seats > 0:
      print(f'Seat booked successfully on flight {self.flight_num}')
      self.__available_seats -= 1
    else:
      print(f'No seats available on flight {self.flight_num}')

  def cancel_reservation(self):
    self.__available_seats += 1
    print(f'Reservation cancelled successfully on flight {self.flight_num}')

  def get_remaining_seats(self):
    return self.__available_seats

  def get_flight_details(self):
    return {
        'Flight ID': self.__flight_id,
        'Flight Num': self.flight_num,
        'departure Airport': self.departure_airport,
        'Arrival Airport': self.arrival_airport,
        'Departure time': self.departure_time,
        'arrival time': self.arrival_time,
        'Available seats': self.__available_seats
    }

# derived class for domestic flight
class domesticflight(Flight):
  def __init__(self, flight_num, departure_airport, arrival_airport, departure_time, arrival_time, available_seats, cabin_class):
    super().__init__(flight_num, departure_airport, arrival_airport, departure_time, arrival_time, available_seats)
    self.cabin_class = cabin_class

  def display_cabin_class(self):
    print(f'cabin class for domestic flight is {self.cabin_class}')

class Internationalflight(Flight):
  def __init__(self, flight_num, departure_airport, arrival_airport, departure_time, arrival_time, available_seats, passport_required):
    super().__init__(flight_num, departure_airport, arrival_airport, departure_time, arrival_time, available_seats)
    self.passport_required = passport_required

  def check_pass(self):
    if self.passport_required:
      print(f'passport is required for flight {self.flight_num}')
    else:
      print('not required')

domestic_flight = domesticflight("DF123", "JFK", "LAX", "2024-09-15 08:00", "2024-09-15 11:00", 100, "Economy")
domestic_flight.book_seat()
domestic_flight.book_seat()
domestic_flight.display_cabin_class()
print(domestic_flight.get_flight_details())

# Create an International Flight
international_flight = Internationalflight("IF456", "LAX", "LHR", "2024-09-20 18:00", "2024-09-21 06:00", 200, True)
international_flight.book_seat()
international_flight.cancel_reservation()
international_flight.check_pass()
print(international_flight.get_flight_details())

Seat booked successfully on flight DF123
Seat booked successfully on flight DF123
cabin class for domestic flight is Economy
{'Flight ID': 1, 'Flight Num': 'DF123', 'departure Airport': 'JFK', 'Arrival Airport': 'LAX', 'Departure time': '2024-09-15 08:00', 'arrival time': '2024-09-15 11:00', 'Available seats': 98}
Seat booked successfully on flight IF456
Reservation cancelled successfully on flight IF456
passport is required for flight IF456
{'Flight ID': 2, 'Flight Num': 'IF456', 'departure Airport': 'LAX', 'Arrival Airport': 'LHR', 'Departure time': '2024-09-20 18:00', 'arrival time': '2024-09-21 06:00', 'Available seats': 200}

Q11. define a python module named constants.py containing constants like pi and speed of light.

In [ ]:
# contstants.py

Pi = 3.141

# speed of light (m/s)
speed_of_light = 299792458

In [ ]:
# from constants import Pi, speed_of_light
print(f'value of pi: {Pi}')
print(f'Speed of light: {speed_of_light} m/s')

value of pi: 3.141
Speed of light: 299792458 m/s

Q12. Write a python module named calculator.py containing functions for addition, substraction, multiplication and division.

In [ ]:
# calculator.py

def add(x,y):
  return x + y

def subtract(x,y):
  return x - y

def multiply(x,y):
  return x * y

def divide(x,y):
  if y == 0:
    raise ValueError('cannot divide by zero')
  return x / y

In [ ]:
# from calculator import add, subtract, multiply, divide
# importing module named calculator. and importing various methods from it.

x = 10
y = 5

print(f"Addition: {add(x, y)}")
print(f"Subtraction: {subtract(x, y)}")
print(f"Multiplication: {multiply(x, y)}")
print(f"Division: {divide(x, y)}")

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

Q13. Implement a python package structure for a project named ecommerce, containing modules for product management and order processing.

In [ ]:
ecommerce/
│
├── __init__.py           # Marks the ecommerce directory as a Python package
├── product_management/
│   ├── __init__.py       # Marks the product_management directory as a package
│   ├── product.py        # Module for managing products
│   └── inventory.py      # Module for managing inventory
│
└── order_processing/
    ├── __init__.py       # Marks the order_processing directory as a package
    ├── order.py          # Module for processing orders
    └── payment.py        # Module for managing payments

SyntaxError: invalid character '│' (U+2502) (<ipython-input-20-28428f88ff3d>, line 2)

Q14. Implement a python module named string_utils.py containing functions for string manipulation, such as reversing and capitalizing strings.

In [ ]:
# string_utils.py

def reverse_string(s):
  return s[::-1]

def capitalize_string(s):
  return s.capitalize()

In [ ]:
# from string_utils import reverse_string, capitalize_string

s = 'hello world'

reversed = reverse_string(s)
capitalize = capitalize_string(s)

print(f'reversed string : {reversed}')
print(f'capitalized string: {capitalize}')

reversed string : dlrow olleh
capitalized string: Hello world

Q15. write a python module named file_operations.py with functions for reading, writing, and appending data to a file.

In [ ]:
# for writing data to a python file
def write(file_path, data):
  with open('file_path', 'w') as file:
    file.write(data)

# for appending data to a python file
def append(file_path, data):
  with open('file_path', 'a') as file:
    file.write(data)


# for reading data from .py file.
def reading(file_path):
  with open('file_path', 'r') as file:
    return file.read()

Q16. Write a Python program to create a text file named "employees.txt" and write the details of employees,
including their name, age, and salary, into the file.

In [ ]:
employees = [
    {'name': 'Tejas', 'age': 22, 'salary': 45000},
    {'name': 'dev', 'age': 24, 'salary': 34000}
]

with open('employee.txt', 'w') as file:
  file.write('name\tage\tsalary\n')
  for employee in employees:
    file.write(f"{employee['name']}\t{employee['age']}\t{employee['salary']}\n")

Q17. Develop a Python script that opens an existing text file named "inventory.txt" in read mode and displays
the contents of the file line by line.

In [ ]:
with open('inventory.txt', 'w') as file:
  file.write("Hello world'\n")
  file.write('simple example of writing file.')

In [ ]:
with open ('inventory.txt', 'r') as file:
  for i in file:
    print(i, end='')
  # end = '' - prvents adding extra newlines.

Hello world'
simple example of writing file.

Q18. Create a Python script that reads a text file named "expenses.txt" and calculates the total amount spent
on various expenses listed in the file.

In [ ]:
expenses = [
    {'name': 'rent', 'price': 200},
    {'name': 'groceries', 'price': 150},
    {'name': 'Internet', 'price': 68}
]
with open('expenses.txt', 'w') as file:
  file.write('name\tprice\n')
  for i in expenses:
    # price = price[int]
    file.write(f"{i['name']}\t{i['price']}\n")

In [ ]:
def calculate_total_expenses(file_name):
  total_expenses = 0
  try:
    with open('expenses.txt', 'r') as file:
      next(file)
      # next(file) - function is used to skip the header lined
      for i in file:
        parts = i.strip().split()
        amount = float(parts[-1])
        total_expenses += amount

    print(f'total amount spent: {total_expenses}')

  except FileNotFoundError:
    print('file not found')
  except Exception as e:
    print(f'an error occurred: {e}')

file = 'expenses.txt'
calculate_total_expenses(file)

total amount spent: 418.0

Q19. Create a python program that reads a text file named 'paragraph.txt' and counts the occurrences of each word in the paragraph, displaying the results in alphabetical order.

In [ ]:
with open('paragraph.txt', 'w') as file:
  file.write("This is a sample paragraph.This paragraph is meant to test the word count program.The word count program should count all words, regardless of their case.")

In [ ]:
text = open('paragraph.txt', 'r')

d = dict()

for i in text:
  line = i.lower()
  words = line.split(" ")

  for word in words:
    if word in d:
      d[word] += 1
    else:
      d[word] = 1

for key in d.keys():
  print(key, ":", d[key])

this : 1
is : 2
a : 1
sample : 1
paragraph.this : 1
paragraph : 1
meant : 1
to : 1
test : 1
the : 1
word : 2
count : 3
program.the : 1
program : 1
should : 1
all : 1
words, : 1
regardless : 1
of : 1
their : 1
case. : 1

20. What do you mean by Measure of Central Tendency and Measures of Dispersion .How it can be
calculated.*italicized text*

**Measure of central Tendency** :- One value around which data is revolving.

CT - Represents the center of data.

Most common measures of CT are :-
1. Mean - arithmatic mean value of data. It is the sum of all values in dataset divided by total number of values.

Mean = sum of all value/total count of value

2. Median - Median is mid value of any data. It is the middle value in a dataset when the values are arranged in ascending or descending order.

3. Mode - It is the value that occurs most frequently in a dataset.

**Measures of Dispersion** :- These measures describe the spread of data points within a dataset. They provide insight into how much the data deviates from the CT.

Most common measures of dispersion are:
1. Range - It is difference between maximum and minimum values in a dataset.

Range = maximum value - minimum value

2. Variance - It is average of the squared differences from the mean.

Variance = (xi - m)**2/2

3. Standard Deviation - It is Square root of variance.

SD = (Variance)*0.5

4. Quantile - This are values that divide a list of no. into quarters(equal parts).

5. Interquartile Range(IQR) - It is the difference between the third quartile(Q3) and the first quartile(Q1).

IQR = Q3 - Q1

Q21. What do you mean by skewness. Explain its types. use graph to show.

**Skewness** - It is a statistical measure that describes the asymmetry of the distribution of data points in a dataset.

It indicated whether the data is concentrated more on one side of the mean than the other.

Skewness is a dataset symmetry.

skewness types :-

1. **Positive skeweness(right-skewed distribution)**: In this, tail on the right side is longer than left side.
The mean is greater than the median, and both are greater than the mode.

  Eg. Distribution of salary in a company, Distribution of marks in diff. exam.

2. **Negative Skewness(left-skewed distribution)**: In this, tail on the left side is larger than right side.
In this, mode is greater than median, and median is greater than mean.

  Eg. Death rate, marks in exam.

3. **Zero Skewness(Symmetrical Distribution)** :- In this data is evenly distributed on both side of the mean. The mean, median and mode are equal.

  Eg. Height of Individuals in large population.


**formula** -
Skewness = ((xi - m)**3) /(n*(sigma)**3)

xi = each individual dp
m = mean
sigma = SD
n = no. of dp

![image.png]()

Q22. Explain PROBABILITY MASS FUNCTION (PMF) and PROBABILITY DENSITY FUNCTION (PDF). and what is the
difference between them?

**Probability Mass function(PMF)** :- It is used for discrete random variables. It gives the probability that a discrete random variable is exactly equal to some value.

If X is a discrete random variable, then the PMF of X is  
          p(X-x) - p(x)
  where p(x) = probability that the random variable X takes the value x.

**Eg. Throwing a dice.**


**Probability Density Function(PDF)** :- It is used for continuous random variables. It represents the probability density at each point in the range of continuous variable.
The probability of the variable falling within a particular range is given by area under curve.

mathematical representation :- if X is continuous random variable, then the PDF of X is denoted as f(x) and probability that X falls within a range [a,b] is given by
        P(a <= X <= b) - integration a to b (f(x)) dx

**eg. The height of people in a population.**


**Difference between PMF and PDF** :

1. Type of variable:  PMF is discrete random variables and PDF is continuoss random variables.
2. Probability Interpretation: PMF gives same probability for various points, while PDF  at a specific point does not give a probability directly, instead probabilities are found by integrating the PDF over an interval.

3. PMF are summed over discrete points while PDF are calculated as the area under the curve.

Q23.What is correlation. Explain its type in details.what are the methods of determining correlation

**Correlation** - It measures the strength and direction of a linear relationship between two variables. It finds how changes in one variable are associates with changes in another variable.

**Types of Correlation**:

1. **Positive Correlation** : As one variable increases, the other variable also increases.

  Eg. Height and weight of indiviuals often have a positive correlation

  correlation coefficient(r): 0 to 1.

2. **Negative Correlation** : As one variable increases, the other variable decreases.

  Eg. The spped of a car and time taken to travel a fixed distance often have a negative correlation.

  correlation coefficient(r) : -1 to 0.

3. **No Correlation**: No pattern that can be detected between the variables.

  Eg. Shoe size and intelligence


**Methods of Determining Correlation**

1. **Pearson Correlation Coefficient**: Measures the linear relationship between two variables. It ranges from -1 to 1, where 1 indicates a perfect positive linear relationship, -1 indicates a perfect negative linear relationship and 0 indicates no linear relationship.

Formula:  

![image.png]()

r	=	correlation coefficient

x_{i}	=	values of the x-variable in a sample

{x}bar	=	mean of the values of the x-variable

y_{i}	=	values of the y-variable in a sample

\bar{y}	=	mean of the values of the y-variable


use - Best for normally distributes data with linear relationships.


2. Spearman's Rank Correlation Coefficient : Measures the strength and direction of the monotonic relationship between two ranked variables.

Formula

![image.png]()

Q24. Calculate coefficient of correlation between the marks obtained by 10 students in Accountancy and
statistics:

Use Karl Pearson’s Coefficient of Correlation Method to find it.

Formula of Karl Pearson Correlation are



![image.png]()

steps:
1. calculate Means:
            X = summation of x/ total count of x
            y = summation of y/total count of y

2. calculate Covariance:
            Cov(X,y) = summation((X(i) - X)(y(i) - y)/n)

3. calculate SD:
            sigma(x) = square_root(summation(X(i)-X)/n)
            sigma(y) = square_root(summation(y(i)-y)/n)

4. compute karl pearson correlation coefficient:

        r = Cov(X,y)/(sigma(x).sigma(y))


r = 0.64

The coefficient of correlation r between the marks obtained in Accountancy and Statistics in approximately 0.64, indicating a moderate positive correlation.

Q25. Discuss the 4 differences between correlation and regression.

Key differences between correlation and regression.

1. **Purpose**:

Correlation : It measures the strength and direction of the linear relationship between two variables. It finds how changes in one variable are associates with changes in another variable.

Regression : Models the relationship between a dependent variable and one or more independent variables. It is used to predict the value of the dependent variable based on the independent variables.

2. **Directionality**:

Correlation : Symmetrical.
Regression: Asymmetrical.

3. **Output**:

Correlation: provides a single number between -1 and 1, indicating the strength and direction of the linear relationship.

Regression: Provides an equation of the form Y = mx+c, which can be used to predict the dependent variable Y based on the independent variable X.

4. **use cases**:

correlation: Used to assess how closly two variables move together. eg. examing relationship between height and weight.

regression : used to make prediction.
eg.predicting wt.based on height of person.

Q26. Find the most likely price at Delhi corresponding to the price of Rs. 70 at Agra from the following data:
Coefficient of correlation between the prices of the two places +0.8.

Formula for Estimation:
To find the most likely price at Delhi (
𝑋
𝐷
X
D
​
 ) given the price at Agra (
𝑋
𝐴
X
A
​
 ), we use the formula for the regression line:

𝑋
𝐷
=
𝑋
ˉ
𝐷
+
𝑟
⋅
𝜎
𝐷
𝜎
𝐴
⋅
(
𝑋
𝐴
−
𝑋
ˉ
𝐴
)
X
D
​
 =
X
ˉ
  
D
​
 +
σ
A
​

r⋅σ
D
​

​
 ⋅(X
A
​
 −
X
ˉ
  
A
​
 )
Steps:
Find the mean and standard deviation for both locations.

If these are not provided, you'll need to use sample data to compute them.
Apply the formula:

For demonstration, assume:

Mean price at Agra (
𝑋
ˉ
𝐴
X
ˉ
  
A
​
 ) = Rs. 60
Standard deviation at Agra (
𝜎
𝐴
σ
A
​
 ) = Rs. 15
Mean price at Delhi (
𝑋
ˉ
𝐷
X
ˉ
  
D
​
 ) = Rs. 80
Standard deviation at Delhi (
𝜎
𝐷
σ
D
​
 ) = Rs. 20
Then,

𝑋
𝐷
=
𝑋
ˉ
𝐷
+
𝑟
⋅
𝜎
𝐷
𝜎
𝐴
⋅
(
𝑋
𝐴
−
𝑋
ˉ
𝐴
)
X
D
​
 =
X
ˉ
  
D
​
 +
σ
A
​

r⋅σ
D
​

​
 ⋅(X
A
​
 −
X
ˉ
  
A
​
 )

𝑋
𝐷
=
80
+
0.8
⋅
20
15
⋅
(
70
−
60
)
X
D
​
 =80+
15
0.8⋅20
​
 ⋅(70−60)

𝑋
𝐷
=
80
+
16
15
⋅
10
X
D
​
 =80+
15
16
​
 ⋅10

𝑋
𝐷
=
80
+
160
15
≈
80
+
10.67
X
D
​
 =80+
15
160
​
 ≈80+10.67

𝑋
𝐷
≈
90.67
X
D
​
 ≈90.67
Therefore, the most likely price at Delhi corresponding to the price of Rs. 70 at Agra is approximately Rs. 90.67.

Note: To get a precise estimate, you need the actual means and standard deviations for Agra and Delhi prices.

Q27. In a partially destroyed laboratory record of an analysis of correlation data, the following results only are
legible: Variance of x = 9, Regression equations are: (i) 8x−10y = −66; (ii) 40x − 18y = 214. What are (a) the
mean values of x and y, (b) the coefficient of correlation between x and y, (c) the σ of y.

Q28.What is Normal Distribution? What are the four Assumptions of Normal Distribution? Explain in detail.

**Normal Distribution** :- It is also known as the Gaussian distribution, is a continuous probability distribution that is symmetric and bell-shaped.
It is a type of continuous prob. distribution for a real-values random variable.

**characteristics of Normal Distribution** -
1. Symmetric - distribution is symmetric, meaning left and right sides of distribution are mirror images.

2. Skewness = 0

3. mean = median = mode :- The mean, median and mode are all equal and located at the center of the distribution.

4. kurtosis = 3

**Assumptions of Normal Distribution** :-
1. Random Sampling - the data should be collected through a process that ensures each individual has an equal chance of being selected.
2. Independence - The observations or data points should be independent of each other.
3. Homogeneity of Variance
4. Normally Distributed Residuals

Q29.Write all the characteristics or Properties of the Normal Distribution Curve.

Properties of NDC :-
1. Symmetricity - Distribution curve is perfectly symmetrical about the mean. left side of curve is equal to right side of curve.

2. Mean-Median-Mode :- all are equal and lie at the center of the distribution.
3. Kurtosis = 3
4. Bell-shaped Curve :- The Normal distribution has a characteristic bell-shaped curve, which is highest at mean and decreases symmetrically as we move away from mean.
5. 68 ~ 95 ~ 99.7 :- Approximately, 68% of the data falls within one standard deviation of the mean.
About 95% of the data falls within two std. deviations of the mean.
Around 99.7% of the data falls within three std. deviations of the mean.
6. No skewness - The normal distribution has skewness of 0, indicating that the distribution is perfectly symmetric.

7. Area under the curve :- the total area under the ND curve is equal to 1, representing the total probability of all possible outcomes. This area corresponds to 100% of the data.

Q30.Which of the following options are correct about Normal Distribution Curve.

(a) Within a range 0.6745 of σ on both sides the middle 50% of the observations occur i,e. mean ±0.6745σ
covers 50% area 25% on each side.

(b) Mean ±1S.D. (i,e.μ ± 1σ) covers 68.268% area, 34.134 % area lies on either side of the mean.

(c) Mean ±2S.D. (i,e. μ ± 2σ) covers 95.45% area, 47.725% area lies on either side of the mean.

(d) Mean ±3 S.D. (i,e. μ ±3σ) covers 99.73% area, 49.856% area lies on the either side of the mean.

(e) Only 0.27% area is outside the range μ ±3σ.

Ans.

All the options a, b, c, d, e are correct based on the properties of the normal distribution. These reflect the empirical rule, also known as 68~95~99.7 rule, which describes the percentage of data within 1, 2 and 3 SD from the mean.

Q31.The mean of a distribution is 60 with a standard deviation of 10. Assuming that the distribution is normal,
what percentage of items be (i) between 60 and 72, (ii) between 50 and 60, (iii) beyond 72 and (iv) between
70 and 80?

Z-score is calculated using,

Z = (X-u)/SD

where,
X = value for which we are calculating the z-score
u = mean
sigma = SD

Given - mean - 60, sd=10

**i) Between 60 to 72**
  For X - 60:
      Z = (60-60)/10 = 0
  For X - 72:
      Z = (72-60)/10 = 1.2

  using the z-table calculator:
  The area to the left of Z = 0(mean) is 0.5(50%)
  The area to the left of Z=1.2 is approximately 0.888(88.49%).

  **percentage between 60 and 72**:
          88.49 - 50 = **38.49**%


ii) Between 50 and 60
  For X-50:
        Z = 50-60/10 = -1
  For X=60:
        Z = 60-60/10 = 0

  **percentage between 50 and 60**:
            50 - 15.87 = **34.13**%


iii) Beyond 72
  For X-72:
      Z = 72-60/10 = 1.2

  using z-table:
        The area left of z=1.2 is 0.8849.
  
  **percentage beyond 72**:
        100 - 88.49 = **11.51**%


iv) Between 70 and 80.
  For X-70,
        Z = 70-60/10 = 1
  For X-80,
        Z = 80-60/10 = 2
      
  using the z-table,
     The are to the left of Z=1 is approzimately 0.8414
     The area to the left of z = 2 is apprimately 0.97.

  **percentage between 70-80**
        97.72 - 84.13 = **13.59**%

Q32. 15000 students sat for an examination. The mean marks was 49 and the distribution of marks had a
standard deviation of 6. Assuming that the marks were normally distributed what proportion of students
scored (a) more than 55 marks, (b) more than 70 marks

Ans.
a) **More than 55 marks**

X = 55, m = 49, sd = 6,

Z = (X-m)/sd = (55-49)/6 = 1

The Z-score of 1 corresponds to a cumulative probability of approximately 0.8413. This means 84.13% of students scored 55 marks or less.

The proportion of students who scored more than 55 marks is:
      1 - 0.8413 = 0.1587

**Proportion of students who scored more than 55 marks is 15.87%**

b) Proportion of students who scored more than 70 marks

X = 70, m = 49, sd = 6

Z = 70-49/6 = 3.5

The Z-score of 3.5 corresponds to a cumulative probability of approximately 0.9998. This means 99.98% of students scored 70 marks or less.
        1- 0.9998 = 0.0002

**Proportion of students who scored more than 70 marks: 0.02%**

Q33. If the height of 500 students are normally distributed with mean 65 inch and standard deviation 5 inch.
How many students have height : a) greater than 70 inch. b) between 60 and 70 inch.

Ans.

Given - m = 65, sd=5, no. of students = 500

a) **greater than 70 inches**.

Z = (X-m)/sd = (70-65)/5 = 1

The Z-score of 1 corresponds to a cumulative probability of approximately 0.8413. This means 84.13% of students have a height of 70 inches or less.

The proportion of students with a height greater than 70 inches is:
      1 - 0.8413 = 0.1587

So, about 15.87% of students have a height greater than 70 inches.
  No. of students = 500 * 0.1587 = 79.45

**Approximately 80 students have height greater than 70 inches.**



b) **between 60 and 70 inch**

For X = 60, Z = (60-65)/5 = -1
For X=70, Z = (70-65)/5 = 1

The Z-score of -1 corresponds to a cumulative probability of approximately 0.1587.
The Z-score of 1 corresponds to a cumulative probability of approximately 0.8413.
The proportion of students with a height between 60 and 70 inches is:
  0.8413 - 0.1587=0.6826

No.of students = 0.68 * 500 = 341.1

**No. of students with height between 60 and 70 inches ar 341 students.**

Q34. What is the statistical hypothesis? Explain the errors in hypothesis testing.b)Explain the Sample. What
are Large Samples & Small Samples?

Ans.

**Statistical Hypothesis** :- It is a claim/predictive/generic statement, capable of being tested by scientific method.

**Types of Statistical Hypothesis**:

1. **Null Hypothesis(H₀)** :- It is a statement that is hold true unless we have sufficient evidence to reject it.

2. **Alternate Hypothesis (Ha)** :- It is oppsite of null hypothesis.

**Errors in Hypothesis testing**:

1. **Type-I error** : It is rejection of null hypothesis when it is actually true.

  eg.Innocent person is convicted.

2. **Type-II error** : fail to reject the null hypothesis when it is actually false.

  eg. A guily person is not convicted.


**Sample** :- It is a subset of observations selected from a larger population.

**Large Samples**: A large sample typically refers to a sample size that is sufficiently large to reporesent the population.

In practice, a sample size greate than 30 is considered as 'large'.

**Small Samples** :- A small sample refers to a sample size that is not large enough for the central limit theorem to apply.

In practice, a sample size smaller than 30 is considered as 'small'.

Q35.A random sample of size 25 from a population gives the sample standard derivation to be 9.0. Test the
hypothesis that the population standard derivation is 10.5.
Hint(Use chi-square distribution).

 Ans.

1. State the hypothesis,

  Null hypothesis(H₀) = 10.5
  
  Alternate hypothesis =/ 10.5 (not equal to 10.5)

2. Calculate the test statistic for chi-square dist.
  X^2 = ((n-1).s^2)/(sigma)^2

  n = sample size = 25,
  s = sample standard deviation = 9.0
  sigma = std. deviation = 10.5

  X^2 = ((25-1).(9)^2)/((10.5)^2 = 17.63

3. Degree of freedom and critical values

   degree of freedom(dof) = n -1 = 24

   assume alpha = 0.05

   for alpha=0.05 and df=24, the critical values are:

  lower critical value = 13.84

  upper critical value = 36.41

4. Since test statistic(17.63) falls within range of critical values , we **fail to reject the null hypothesis**. This means there is not enough evidence to conclude that the population std. deviation differ from 10.5.

Q37.100 students of a PW IOI obtained the following grades in Data Science paper :
Grade :[A, B, C, D, E]
Total Frequency :[15, 17, 30, 22, 16]
Using the χ 2 test , examine the hypothesis that the distribution of grades is uniform.

Ans.

1. State the Hypothesis,

   Null hypotheis(H0): The grades are uniformly distributed. this means that each grade has the same expected frequency.

   Alternate Hypothesis(Ha) :- The grades are not uniformly distributed.

2. Calculate the expected frequency
     E = total frequency/no.of grades = 100/5 = 20

3. calculate the chi-square test statistic

  X2 = summation((O - E)2/E)

  For Grade A, X^2 = ((15-20)^2/20) = 1.25,

  For Grade B, X^2 = ((17-20)^2/20) = 0.45,

  For Grade C, X^2 = ((30-20)^2/20) = 5,

  For Grade D, X^2 = ((22-20)^2/20) = 0.20,

  For Grade E, X^2 = ((16-20)^2/20) = 0.80

  Total X^2 = 1.25+0.45+5+0.20+0.80 = 7.70


4. degree of freedom and critical value

  Degree of Freedom = 5-1= 5
  assume alpha = 0.05,

  from chi-square distribution table, critical value for alpha = 0.05 and df=4 is 9.488

5. calculated X^2 value is 7.70 which is less than critical value of 9.488. **Hence we fail to reject the null hypothesis.**

Q38.  To study the performance of three detergents and three different water temp the following whiteness readings were obtained with specially designed equipmet. (use anova test)

water temp             detergents A             detergents B       detergents C
cold water              57                         55                        67
worm water            49                         52                        68
hot water                54                         46                        58

Ans.

1. Organize the data

2. State the Hypothesis
  H0 : whiteness readings are equal across all detegents and water temp.
  Ha : At least one group mean is different.

3. Perform the Anova test

Use two way anova because the threee detergents and three different water temp.

In [ ]:
import pandas as pd
import numpy as np # Import numpy for numerical operations
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Creating the data
data = {
    'Whiteness': [57, 55, 67, 49, 52, 68, 54, 46, 58],
    'Detergent': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Water_Temperature': ['Cold', 'Cold', 'Cold', 'Warm', 'Warm', 'Warm', 'Hot', 'Hot', 'Hot']
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Performing the two-way ANOVA
model = ols('Whiteness ~ C(Detergent) + C(Water_Temperature) + C(Detergent):C(Water_Temperature)', data=df).fit()

# Check for NaNs and infinities in model parameters
print("NaNs in model parameters:", np.any(np.isnan(model.params)))
print("Infs in model parameters:", np.any(np.isinf(model.params)))

# Check for NaNs and infinities in residuals
print("NaNs in residuals:", np.any(np.isnan(model.resid)))
print("Infs in residuals:", np.any(np.isinf(model.resid)))

# If NaNs or infs are present, handle them (example: replace with 0)
# model.params = np.nan_to_num(model.params)
# model.resid = np.nan_to_num(model.resid)

anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

NaNs in model parameters: False
Infs in model parameters: False
NaNs in residuals: False
Infs in residuals: False

/usr/local/lib/python3.10/dist-packages/statsmodels/regression/linear_model.py:1718: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid

ValueError: array must not contain infs or NaNs

Q39. How would you create a basic Flask route that displays 'Hello, World!' on the homepage ?

In [ ]:
#  pip install flask

Requirement already satisfied: flask in /usr/local/lib/python3.10/dist-packages (2.2.5)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask) (3.0.3)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from flask) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->flask) (2.1.5)

In [ ]:
from flask import Flask, request

app = Flask(__name__)

@app.route('/hello')
def home():
  return f'Hello, World !'

if __name__ == '__main__':
  app.run(host = '0.0.0.0')

 * Serving Flask app '__main__'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://172.28.0.12:5000
INFO:werkzeug:Press CTRL+C to quit

Q40.Explain how to set up a Flask application to handle form submissions using POST requests.

In [ ]:
from flask import Flask, request, render_template

app = Flask(__name__)

# Route for displaying the form
@app.route('/')
def index():
    return render_template('form.html')

# Route for handling form submission
@app.route('/submit', methods=['POST'])
def submit():
    # Get form data
    name = request.form.get('name')
    email = request.form.get('email')

    # Process the data (e.g., save it to a database, send an email, etc.)
    # For this example, we'll just return a message with the submitted data
    return f"Hello, {name}! Your email address is {email}."

if __name__ == '__main__':
    app.run(debug=True)

Q41. Write a flask route that accepts a parameter in the url and displays it on the page.

In [ ]:
from flask import Flask

app = Flask(__name__)

@app.route('/user/<username>')
def show_user(username):
  return f'hello {username} !'

if __name__ == '__main__':
  app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit
INFO:werkzeug: * Restarting with stat

Q42.How can you implement user authentication in a Flask application?

Q43.Describe the process of connecting a Flask app to a SQLite database using SQLAlchemy.

Q44. How would you create a RESTful API endpoint in Flask that returns JSON data?

Q45.Explain how to use Flask-WTF to create and validate forms in a Flask application.

Q46.How can you implement file uploads in a Flask application?

Q47. 47.Describe the steps to create a Flask blueprint and why you might use one.

Q49.How would you deploy a Flask application to a production server using Gunicorn and Nginx?